---
layout: default
---

<header class="site-head" {% if page.cover %} style="background-image: url({{ page.cover }})"{% endif %}>
    <div class="vertical">
        <div class="site-head-content" class="inner">
            {% if page.logo %}
                <a class="blog-logo" href="{{ site.baseurl }}">
                    <img src="{{ page.logo }}" alt="Blog Logo" />
                </a>
            {% endif %}
            <h1 class="blog-title">{{ site.name }}</h1>
            <h2 class="blog-description">
              {{ site.description }}
            </h2>
            <h2 class="author-links">
              <a class="icon-email" href="mailto:{{ site.author_email }}"></a>
              &nbsp;
              <a class="icon-twitter" href="{{ site.author_twitter }}"></a>
              &nbsp;
              <a class="icon-github" href="{{ site.author_github }}"></a>
              &nbsp;
              <a class="icon-weibo" href="{{ site.author_weibo }}"></a>
              &nbsp;
              <a class="icon-dollar" href="/donate.html"></a>
            </h2>
            <h2 class="author-projects">
              <a class="project-icon-link" href="https://github.com/IslandZero/IslandZero">
                <img class="project-icon" src="/assets/images/logo_iz_white.png" alt="IslandZero Logo">
              </a>
              <a class="project-icon-link" href="/sheep-player/">
                <img class="project-icon round-corner" src="/assets/images/logo_sheep.jpg" alt="Sheep-Player Logo">
              </a>

            </h2>
          </div>
    </div>
</header>

<main class="content" role="main">

    {% for post in paginator.posts %}

    <article class="post">
        <header class="post-header">
            <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <span class="post-meta"><time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date: "%Y年%m月%d日" }}</time> {{!tags prefix="分类 "}}</span>

        </header>
        <section class="post-excerpt">
            {{ post.excerpt | remove: '<p>' | remove: '</p>' }}
        </section>
    </article>

    {% endfor %}

    <nav class="pagination" role="pagination">

        {% if paginator.previous_page %}
          {% if paginator.previous_page == 1 %}
          <a class="newer-posts" href="/" title="上一页">&laquo; 更新的文章</a>
          {% else %}
          <a class="newer-posts" href="/page{{ paginator.previous_page }}/" title="上一页">&laquo; 更新的文章</a>
          {% endif %}
        {% endif %}

        <span class="page-number"> 第 {{paginator.page}} / {{paginator.total_pages}} 页</span>

        {% if paginator.next_page %}
        <a class="older-posts" href="/page{{ paginator.next_page }}/" title="下一页">更旧的文章 &raquo;</a>
        {% endif %}
    </nav>

</main>
